@page "/CreateProject"



<h3>CreateProject</h3>

<AuthorizeView>
    <Authorized>
        <a class="btn btn-primary" href="">Individual</a>
        <a class="btn btn-primary" href="AddProject">Workspace</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="Identity/Account/Register">Register</a>
        <a class="btn btn-primary" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code {

}
