@*@page "/Report"
@using Coursework.Data
@inject Coursework.Data.Project.ProjectService projectService


@inject ExportService exportService
@inject Microsoft.JSInterop.IJSRuntime JS
@using  System.IO;

<h2>Check progress Report</h2>


<div class="row justify-content-center">
    <div class="col-md-6">

        <img src="images/report.jpg" width="400px" height="300" />

        <p>generate reports to check progress.</p>

    </div>
</div>


<button class="btn btn-primary" @onclick="@ExportToPdf">Export as a PDF</button>


@code {

    private Coursework.Data.Project.Project[] ProObj;
    private Coursework.Data.Ticket.Ticket[] TicketObj;

    protected override async Task OnInitializedAsync()
    {
        //ProObj = await Task.Run(() => projectService.GetProjectsAsync());
        TicketObj = await Task.Run(() => projectService.GetProjectsAsync());
    }

    protected async Task ExportToPdf()
    {
        using (MemoryStream excelStream = exportService.CreatePdf(TicketObj))
        {
            await JS.SaveAs("Sample.pdf", excelStream.ToArray());
        }
    }
    }*@