@page "/"
@using Coursework.Data
@inject Coursework.Data.Project.ProjectService projectService

<h1>Project Info</h1>
@if (EmpObj is null)
{
    <p><em>Fetching data... Please wait !</em></p>
}
else
{
<div class="container">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>Emp Id</th>
                <th>Title</th>
                <th>Comapany Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in EmpObj)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Title</td>
                    <td>@emp.CompanyName</td>

                    <td>
                        <a class="nav-link" href="EditProject/@emp.Id">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="DeleteProject/@emp.Id">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}

@code {
    List<Coursework.Data.Project.Project> EmpObj;
    protected override async Task OnInitializedAsync()
    {
        EmpObj = await Task.Run(() => projectService.GetAllEmployeesAsync());
    }
}
