@inherits LayoutComponentBase

  <header class="site-header sticky-top py-1">
      <nav class="container d-flex flex-column flex-md-row justify-content-between">
          <NavLink class="py-2 d-none d-md-inline-block" href="" Match="NavLinkMatch.All">
              <span class="oi oi-home" aria-hidden="true"></span> Dashboard
          </NavLink>
          <NavLink class="py-2 d-none d-md-inline-block" href="ViewPorject">
              <span class="oi oi-plus" aria-hidden="true"></span> Projects
          </NavLink>
          <NavLink class="py-2 d-none d-md-inline-block" href="AddProject">
              <span class="oi oi-plus" aria-hidden="true"></span> Create
          </NavLink>
          <LoginDisplay></LoginDisplay>
      </nav>
    </header>


    <main class="content px-4">
        @Body
    </main>

